.main{
    .ivu-layout{
        min-height:100%; 
        margin: 0px;
        .ivu-layout-header{
            h2 {
                color: wheat;
            }
        }
        .ivu-layout-content{
            flex:1
        }
    }

}