.todo {
    margin-top: 1rem;
    .undoneTitle,
    .doneTitle{
        height: 2rem;
        margin: 5px 0 5px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .list-item {
        margin-bottom: 1rem;
        .title-area {
            display: flex;
            justify-content: space-between;
            .text {
                display: inline-flex;
            }
        }
        .done {
            color: green;
        }
        .time-in {
            color: orange;
        }
        .time-out {
            color: red;
        }
        .time-area {
            display: flex;
            justify-content: space-between;
        }
    }
    .margin-right-5{
        margin-right: 5px;
    }   
}