.mobile-class {
  .ivu-layout {
    /* header開始 */
    .ivu-layout-header {
      background-color: $primaryColor;
      /* Mobile漢堡選單開始 */
      ul.sidebar-panel-nav {
        li {
          span {
            color: wheat;
          }
        }
      }
      /* Mobile漢堡選單結束 */
    }
    /* header結束 */
  }
/* 下拉選單共用開始 */
  .ivu-select-selection {
    color: wheat;
    background-color: rgba(34, 30, 36, .5);
  }
  .ivu-select-dropdown {
    background-color: rgba(34, 30, 36, .95);
    border: 1px solid rgba(128, 128, 128, .5);
  }
  .ivu-select-arrow,
  .ivu-select-dropdown-list,
  .ivu-select-item {
    color: wheat;
  }
  .ivu-select-item.ivu-select-item-selected {
    color: #2d8cf0;
  }
/* 下拉選單共用結束 */
/* footer開始 */
   .ivu-layout-footer {
    background-color: $primaryColor;
    color: #fff;
  }
/* footer結束 */
}